<!DOCTYPE html>

<html class="no-js"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--<base href="/qae/">--><base href=".">
    <title>Citizenpedia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="./assets/app.css">
  </head>
  <body>

    <navbar>
<div class="navbar navbar-default ng-scope" style="background-color: #009ee0;" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
            <a href="https://simpatico.morelab.deusto.es/qae/"><img src="./assets/logo_simpatico_small.png" alt="Simpatico Project" height="50px"></a>
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only ng-binding">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main" aria-expanded="false" aria-hidden="true" style="height: 0px;">
      <ul class="nav navbar-nav">
        <li><h3 style="color: #000;" class="navbar-text ng-binding">Citizenpedia >> Administrative Procedure</h3> </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <form ng-show="nav.currentPath() != &#39;/&#39;" class="navbar-form navbar-left ng-pristine ng-valid ng-hide" role="search" ng-submit="nav.search(keyword)">
          <div class="input-group">
            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="" ng-model="keyword">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search">
                </span>
              </button>
            </span>
          </div>
        </form>

      </ul>

    </div>
  </div>
</div></navbar>
    <!-- uiView:  --><div ui-view="" class="ng-scope"><!-- ngInclude:  --><div ng-include="" src="&#39;components/header/header.html&#39;" class="ng-scope"><header class="jumbotron vertical-center ng-scope" style="text-align: center;" id="banner">
  <div class="container">

    <div class="panel panel-primary">
      <div class="panel-heading text-left">
        <img class="img-responsive pull-left" width="2.3%" height="auto" src="./assets/users.png">
          Parenting Skills Workshop
         <img class="img-responsive pull-right" width="2.3%" height="auto" src="./assets/qae.png">
         <img class="img-responsive pull-right" width="2.3%" height="auto" src="./assets/cpd.png">
      </div>
    </div>

      <div class="panel-body text-left">
        In Sheffield, parents and carers can access a range of groups that offer practical advice and support with parenting. We deliver programmes that are evidence based, and tried and
          tested. This means that the content is written by professional psychologists who have years of research into what works to manage behaviours and difficulties that we can all face as
          parents. These programmes are delivered across the world and have over 30 years of research behind them.
          We can work with your family when there are difficulties in managing your child's behaviour and to help build closer relationships. You can learn new skills to help you:
          <ul>
            <li>build parenting confidence</li>
            <li>find ways to encourage better behaviour in children</li>
            <li>deal with anger management or family conflict</li>
            <li>cope with stress</li>
          </ul>
          
      </div>


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-left">
                  <img class="img-responsive pull-left" width="8%" height="auto" src="./assets/users.png">
                   1. Workshop application
                   <img class="img-responsive pull-right" width="8%" height="auto" src="./assets/qae.png">
                   <img class="img-responsive pull-right" width="8%" height="auto" src="./assets/cpd.png">
                </div>
              </div>
          
                <div class="panel-body text-left">
                    The user will complete the online form by entering
                    required information into the form. The required
                    information is:
                    <ul>
                    <li>Title, First name, Last name.</li>
                    <li>Contact details: Telephone Number and Email Address.
                    These are required in order to allocate a booking to the
                    user, and to contact them to inform them of their place,
                    or to advise of a change to their booking.</li>
                    <li>Postal address (this should be in standardised BS7666
                    format).</li>
                  </ul>
                    <br />
                    The user will then see the range of Parenting Skills
                    workshops available on each day and select 3 day/time
                    options which are suitable for them.
                    <br />
                    Once all required information is entered, the user will
                    then be allowed to submit the form.
                    
                </div>
              </div><!-- Columna 1 -->
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-left">
                  <img class="img-responsive pull-left" width="8%" height="auto" src="./assets/users.png">
                  2. Workshop booking
                   <img class="img-responsive pull-right" width="8%" height="auto" src="./assets/qae.png">
                   <img class="img-responsive pull-right" width="8%" height="auto" src="./assets/cpd.png">
                </div>
              </div>
          
                <div class="panel-body text-left">
                    The user will complete the online form by entering
                    required information into the form. The required
                    information is:
                    <ul>
                    <li>Title, First name, Last name.</li>
                    <li>Contact details: Telephone Number and Email Address.
                    These are required in order to allocate a booking to the
                    user, and to contact them to inform them of their place,
                    or to advise of a change to their booking.</li>
                    <li>Postal address (this should be in standardised BS7666
                    format).</li>
                  </ul>
                    The user will then see the range of Parenting Skills
                    workshops available on each day and select 3 day/time
                    options which are suitable for them.
                    Once all required information is entered, the user will
                    then be allowed to submit the form.
                    
                </div>
              </div><!-- Columna 2 -->
        
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-left">
                  <img class="img-responsive pull-left" width="8%" height="auto" src="./assets/users.png">
                  3. Booked workshop notification
                   <img class="img-responsive pull-right" width="8%" height="auto" src="./assets/qae.png">
                   <img class="img-responsive pull-right" width="8%" height="auto" src="./assets/cpd.png">
                </div>
              </div>
          
                <div class="panel-body text-left">
                  <ul>
                    <li>The administrator will add the booking information to
                        an email – The email includes the workshop information
                        day/time, workshop location.</li>
                    <li>The administrator sends the email to the user’s email
                        address which was entered onto the form.</li>
                  </ul> 
                </div>
              </div><!-- Columna 3 -->
        </div><!-- Row -->
      </div><!-- container-->
</div>
    <footer class="footer"><div class="container">
  <p class="ng-binding">Citizenpedia ver. 0.1 |
    Part of
    <a href="http://simpatico-project.eu/">Simpatico Project</a>
    Icons by <a href="https://icons8.com/">Icons8</a>
  </p>
</div>
</footer>

</body></html>