.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.ui-helper-hidden-accessible { display:none; }

.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
    font-size:8px;
}

/* .ui-autocomplete {
    background: white;
    border-radius: 0px;
    list-style-type: none;
    text-align: left;
} */

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    border-color: black;
    text-align: left;
  
    .ui-menu-item > a.ui-corner-all {
      display: block;
      padding: 3px 15px;
      clear: both;
      font-weight: normal;
      line-height: 18px;
      color: #555555;
      white-space: nowrap;
      border-color: black;
  
      &.ui-state-hover, &.ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
      }
    }
  }
/* 
.block_element {
    position:relative;
    background-color:#659EC7;
    height:100px !important;
    width:100% !important;
}
.block_element:after {
    z-index: -1 !important;
    position: absolute !important;
    top: 100% !important;
    left: 50% !important;
    margin-left: -10px !important;
    content:'' !important;
    width: 0 !important;
    height: 0 !important;
    border-top: solid 10px #659EC7 !important;
    border-left: solid 10px transparent !important;
    border-right: solid 10px transparent !important;
} */

/* create an arrow that points down */
div.down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #2f2f2f;
	font-size: 0;
	line-height: 0;
}